@media (min-width: 1000px) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header ul {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    header ul a {
        display: block;
    }

    #menu {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .main {
        margin-top: 2rem;
    }

    .turn-container {
        display: grid;
        grid-template-columns: 9fr 1fr 1fr;
        column-gap: 3rem;
        margin: 1rem;
    }
}