* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

header, footer {
    margin: 0 auto;
    background-color: #4a598c;
    color: #fff;
    padding: 1rem;
}

/* Confirmation Page */
.confirm {
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 20rem;
    border: 1px solid #e5eaf0;
    border-radius: 6px;
    background-color: #e5eaf0;
    max-width: 300px;
}

p {
    margin-bottom: 1rem;
}

/* Form Styling*/
fieldset {
    margin: 0 auto;
    margin-top: 2rem;
   
    border: 1px solid #e5eaf0;
    border-radius: 6px;
    padding: 1.5rem;
    background-color: #e5eaf0;
    max-width: 380px;
}

label {
    display: block;
    padding-top: 0.5rem;
}

div {
    padding-top: 1rem;
}

textarea, input[type="text"] {
    display: block;
    margin-top: 0.7rem;
    width: 100%;
    min-height: 30px;
}

.optional {
    color:#4a598c;
    font-size: small;
}

#check {
    font-style: italic;
    display: block;
}

select, input[type="date"] {
    margin-left: 0.4rem;
    padding: 7px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 1rem;
    border: none;
    background-color: #4a598c;
    color: #fff;
    border-radius: 6px;
    padding: 1.2rem;
    font-size: 1rem;
}

/* Footer */
footer {
    background-color: #4a598c;
    margin-top: 1rem;
    text-align: center;
    color: white;
    padding: 10px;
}

#currentyear {
    color: white;
}

#lastModified {
    color: yellow;
}