@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: rgb(65, 120, 165);
    --red: rgb(255, 99, 99);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

header {
    text-align: center;
    padding: 1rem;
    color: #fff;
    background-color: var(--blue);
    border-bottom: 6px solid var(--red);
}

/* Main */
.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    border-bottom: 6px solid var(--blue);
}

h2 {
    font-size: x-large;
}

.data, .weather {
    text-align: center;
    padding: 2rem;
}

.data {
    border-bottom: 2px solid rgba(255, 99, 99, 0.253);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    column-gap: 1rem;
}

.label {
    text-align: right;
    font-weight: bold;
}

.value {
    text-align: left;
}

.weather img {
    width: 100px;
}

.weather span {
    display: none;
}

/* Footer */
footer {
    background-color: rgb(38, 69, 94);
    text-align: center;
    color: white;
    padding: 10px;
}

#currentyear {
    color: white;
}

#lastModified {
    color: yellow;
}